/* Elements */

.header {
  height: 100px;
}

body {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  font-family: 'PlexSans', sans-serif;
  background-color: whitesmoke;
  border: 2px solid #ffffff;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 8px;
  color: blue;
}

input[type=text]:focus {
  border: 2px solid blue;
  background-color: white;
  outline: none;
}

/* Text */

@font-face {
  font-family: 'PlexSans';
  src: url('src/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PlexSans';
  src: url('src/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

h1 {
  font-family: 'PlexSans', sans-serif;
  text-align: center;
}

form {
  font-family: 'PlexSans', sans-serif;
  font-size: 20px;
  /* padding-bottom: 32px; */
  display: block;
  margin-left: 16px;
}

button {
  font-family: 'PlexSans', sans-serif;
  background-color: blue;
  border: 2px solid blue;
  padding: 10px;
  margin: 40px 8px 40px 0px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 200, 0.3);
  transition: box-shadow 0.1s ease-in-out;
}

button:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 200, 0.5);
  background: darkblue;
  border: 2px solid darkblue;
}

button:focus {
  outline: none;
  border: 2px solid lightblue;
}

.destructive {
  background-color: white;
  text-align: center;
  border: 2px solid white;
  color: red;
  box-shadow: none;
  font-size: 14px;
  float: right;
}

.destructive:hover {
  color: darkred;
  background: white;
  box-shadow: none;
  border: 2px solid white;
}

.destructive:focus {
  border-color: red;
}

#buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#output {
  font-family: 'PlexSans', sans-serif;
  color: blue;
  font-size: 30px;
  text-align: left;
  padding: 16px;
}

li {
  list-style-type: none;
  padding-left: 0px;
  background-color: white;
  padding: 16px;
  margin: 8px 0px;
  border-radius: 6px;
  text-align: left;
  font-family: 'PlexSans', sans-serif;
  font-size: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 200, 0.1);
}

li:last-child {
  display: none;
}
